* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}

.homeBanner {
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* SECTION1 CSS BEGINS */

.homeBanner .section1 {
  width: 100%;
  height: 900px;
  background-image: url("../components/img/backdrop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.homeBanner .section1 h1 {
  /* position: relative; */
  bottom: 0px;
  text-align: center;
  /* margin-bottom: 150px; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: white;
  /* margin-top: -90px; */
}

.homeBanner .section1 p {
  bottom: 0;

  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.homeBanner button {
  text-decoration: none;
  color: #ff9800;
  padding: 20px;
  position: relative;
  top: 40px;
  /* left: 20px; */
  /* bottom: 150px; */
  /* margin-top: 100px; */
  /* width: 100%; */
  border: none;
  border-radius: 5px;
  /* margin-right: 200px; */
  background: transparent;
  border: 1px solid #ff9800;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.homeBanner button:hover {
  background-color: #ff9800;
  color: white;
}

/* SECTION1 CSS ENDS */

/* SECTION2 CSSBEGINS */

.homeBanner .section2 {
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeBanner .section2 .col1 {
  width: 50%;
  height: 250px;
  position: relative;
  left: 0px;
  right: 50px;
  /* background-color: #6276eb; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeBanner .section2 .col1 h2{
  color: #333;
  font-size: 40px;
  font-weight: 700;
  text-align: right;
  /* position: relative; */
  /* top: 60px; */
  /* background-color: #6276eb; */
  /* transform: translateY(-50%); */
}

.homeBanner .section2 .col2 {
  width: 80%;
  height: 500px;
  position: relative;
  top: 0px;
  left: 0px;
  gap: 10px;
  display: flex;
}

.homeBanner .section2 .col2 .tab1 {
  width: 20%;
  height: 245px;
  position: relative;
  top: 0px;
  background-color: #6276eb;
  display: block;
  padding: 10px;
  border-radius: 10px;
}

.homeBanner .section2 .col2 .tab1 h1 {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  position: relative;
  top: 10px;
}

.homeBanner .section2 .col2 .tab1 p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  position: relative;
  top: 40px;
}

.homeBanner .section2 .col2 .tab2 {
  width: 20%;
  height: 245px;
  position: relative;
  top: 0px;
  background-color: #daa20b;
  display: block;
  padding: 10px;
  border-radius: 10px;
}

.homeBanner .section2 .col2 .tab2 h1 {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  position: relative;
  top: 10px;
}

.homeBanner .section2 .col2 .tab2 p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  position: relative;
  top: 20px;
}

.homeBanner .section2 .col2 .tab3 {
  width: 20%;
  height: 245px;
  position: relative;
  top: 0px;
  background-color: #ec4258;
  display: block;
  padding: 10px;
  border-radius: 10px;
}

.homeBanner .section2 .col2 .tab3 h1 {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  position: relative;
  top: 10px;
}

.homeBanner .section2 .col2 .tab3 p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  position: relative;
  top: 20px;
}

.homeBanner .section2 .col2 .tab4 {
  width: 20%;
  height: 245px;
  position: relative;
  top: 0px;
  background-color: #1b1b19;
  display: block;
  padding: 10px;
  border-radius: 10px;
}

.homeBanner .section2 .col2 .tab4 h1 {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  position: relative;
  top: 10px;
}

.homeBanner .section2 .col2 .tab4 p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  position: relative;
  top: 40px;
}

/* SECTION@ CSS ENDS */

@media only screen and (max-width: 1024px) {
  .homeBanner .section2 .col1 {
    width: 50%;
    height: 80px;
    /* position: relative; */
    /* display: flex; */
    /* background-color: #1b1b19; */
    /* display: none; */

  }

  .homeBanner .section2 .col2 {
    width: 100%;
    height: 500px;
    padding: 10px;
    /* display: grid;
      grid-template-columns: repeat(2, 1fr); */
    display: flex;

    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    position: relative;
    /* bottom: 100px; */
    top: -50px;
    left: 0px;
    /* gap: 18px; */
    /* background-color: #1b1b19; */
  }

  .homeBanner .section2 .col2 .tab1 {
    width: 50%;
    height: 150px;
    position: relative;
    top: 0px;
    background-color: #6276eb;
    display: block;
    padding: 10px;
    border-radius: 10px;
  }

  .homeBanner .section2 .col2 .tab1 h1 {
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    position: relative;
    top: 10px;
  }

  .homeBanner .section2 .col2 .tab1 p {
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    position: relative;
    top: 40px;
  }

  .homeBanner .section2 .col2 .tab2 {
    width: 50%;
    height: 150px;
    position: relative;
    top: 0px;
    background-color: #daa20b;
    display: block;
    padding: 10px;
    border-radius: 10px;
  }

  .homeBanner .section2 .col2 .tab2 h1 {
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    position: relative;
    top: 10px;
  }

  .homeBanner .section2 .col2 .tab2 p {
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    position: relative;
    top: 20px;
  }

  .homeBanner .section2 .col2 .tab3 {
    width: 50%;
    height: 150px;
    position: relative;
    top: 0px;
    background-color: #ec4258;
    display: block;
    padding: 10px;
    border-radius: 10px;
  }

  .homeBanner .section2 .col2 .tab3 h1 {
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    position: relative;
    top: 10px;
  }

  .homeBanner .section2 .col2 .tab3 p {
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    position: relative;
    top: 20px;
  }

  .homeBanner .section2 .col2 .tab4 {
    width: 50%;
    height: 150px;
    position: relative;
    top: 0px;
    background-color: #1b1b19;
    display: block;
    padding: 10px;
    border-radius: 10px;
  }

  .homeBanner .section2 .col2 .tab4 h1 {
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    position: relative;
    top: 10px;
  }

  .homeBanner .section2 .col2 .tab4 p {
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    position: relative;
    top: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .homeBanner{
    /* height: 800px; */
    border: none;
  }
  .homeBanner .section1 h1 {
    text-align: center;
    margin-bottom: 190px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: white;
  }

  .homeBanner .section1 p {
    position: relative;
    bottom: 150px;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    color: white;
  }


  .homeBanner .section2 .col1 {
    width: 100%;
    height: 60px;
    position: relative;
    /* top: -100px; */
    /* left: 20px; */
    display: flex;
  }

  .homeBanner .section2 .col1 h2 {
    color: #333;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: 60px;
  }

  .homeBanner .section2{
    width: 90%;
    padding: 5px;
  }

  .homeBanner .section2 .col2 {
    width: 100%;
    height: 450px;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
    left: 0px;
  }

  .homeBanner .section1 {
    width: 100%;
    height: 900px;
    background-color: #6276eb;
    background-image: url("../components/img/backdrop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .homeBanner .section2 .col2 .tab1,
  .homeBanner .section2 .col2 .tab2,
  .homeBanner .section2 .col2 .tab3,
  .homeBanner .section2 .col2 .tab4 {
    /* width: 100%; */
    height: 280px;
  }

}

@media only screen and (max-width: 425px) {
  .homeBanner {
    height: 300vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 0px; */
    /* background-color: #daa20b; */
  }
  .homeBanner .section1 h1 {
    font-size: 20px;
    position: relative;
    top: -100px;
    /* margin-bottom: 120px; */
  }

  .homeBanner .section1 p {
    font-size: 15px;
    position: relative;
    top: -80px;
    /* bottom: 120px; */
  }

  .homeBanner button {
    text-decoration: none;
    color: #ff9800;
    padding: 10px;
    position: relative;
    top: 50px;
    /* left: 100px; */
    width: 100%;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #ff9800;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .homeBanner button:hover {
    background-color: #ff9800;
    color: white;
  }

  .homeBanner .section2 {
    width: 100%;
    height: 180vh;
    display: block;
    position: relative;
    left: 0px;
    /* top: 50px; */
    /* background-color: aquamarine; */
  }

  .homeBanner .section2 .col1 {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: burlywood; */
    /* position: relative;
    left: 0px;
    display: flex; */
  }

  .homeBanner .section2 .col1 h2 {
    color: #333;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: 20px;
    transform: translateY(-50%);
  }

  .homeBanner .section2 .col2 {
    width: 100%;
    height: 180vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    right: 0px;
    gap: 0px;
    top: 0px;
    /* background-color: #6276eb; */
  }

  .homeBanner .section2 .col2 .tab1 {
    width: 100%;
    height: 220px;
    position: relative;
    top: 0px;
    background-color: #6276eb;
    display: block;
    padding: 10px;
    border-radius: 10px;
  }

  .homeBanner .section2 .col2 .tab2 {
    width: 100%;
    height: 220px;
    position: relative;
    top: 0px;
    background-color: #daa20b;
    display: block;
    padding: 10px;
    border-radius: 10px;
  }

  .homeBanner .section2 .col2 .tab3 {
    width: 100%;
    height: 220px;
    position: relative;
    top: 0px;
    background-color: #ec4258;
    display: block;
    padding: 10px;
    border-radius: 10px;
  }

  .homeBanner .section2 .col2 .tab4 {
    width: 100%;
    height: 220px;
    position: relative;
    top: 0px;
    background-color: #1b1b19;
    display: block;
    padding: 10px;
    border-radius: 10px;
  }

  .homeBanner .section2 .col2 .tab1 h1,
  .homeBanner .section2 .col2 .tab2 h1,
  .homeBanner .section2 .col2 .tab3 h1,
  .homeBanner .section2 .col2 .tab4 h1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 10px;
    /* border-bottom: 1px solid white;
    padding-bottom: 5px; */
  }

  .homeBanner .section2 .col2 .tab1 p,
  .homeBanner .section2 .col2 .tab2 p,
  .homeBanner .section2 .col2 .tab3 p,
  .homeBanner .section2 .col2 .tab4 p {
    color: white;
    font-size: 18px;
    /* font-weight: 400; */
    text-align: center;
    position: relative;
    top: 30px;
  }
}
